// Normalize 
//@import "./normalize";

// Bootstrap

@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";
@import "./bootstrap/utilities";
@import "./bootstrap/grid";
@import "./bootstrap/images";
@import "./bootstrap/card";
@import "./bootstrap/navbar";

// variables
@import "./bootstrap/variables";

// common styles
@import "./settings";
@import "./global";

@import "./icons";

// patrials
@import "./header";
@import "./products";
@import "./contact";
@import "./about";

// Media query


@media (min-width: 769px) and (max-width: 1200px) {
  .welcome-text {
    h1 {
      font-size: 60px;
      letter-spacing: 7px;
      margin-left: -100px;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    height: 430px;
  }

  .welcome-text {
    top: 23%;
  
    h1 {
      font-size: 40px;
      letter-spacing: 5px;
      margin-left: -120px;
    }
  }

  .discover {
    top: 43%;
  }

  .title {
    font-size: 25px;
    letter-spacing: 5px;
    margin-bottom: 50px;
  }
    
  .title:after {
    width: 250px;
  }

  .about {
    height: 400px;

    .about-content {
      font-size: 16px;
      width: 400px;
    }
  }
  
  .product-content {
    height: 200px;

    .product__name {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 25px;
    }

    .product__name:after {
      top: 50px;
    }

    .product__description {
      top: 35px;
    }

    .details {
      top: 130px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    height: 400px;
  }

  .welcome-text {
    top: 23%;
    
    h1 {
      font-size: 30px;
      letter-spacing: 3px;
      margin-left: -120px;
    }
  }

  .discover {
    top: 38%;
  }

  .title {
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 50px;
  }
    
  .title:after {
    width: 250px;
  }

  .about {
    height: 350px;

    .about-content {
      font-size: 16px;
      width: 300px;
    }
  }
}